.categories {
  margin-left: 1vw;
  margin-top: clamp(85px, 4vw, 150px);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: clamp(1.35rem, 1.5vw, 1.65rem);
  margin-bottom: 1vw;
  color: #00459a;
}

.categories-buttons {
  margin-left: 0.75vw;
  background-image: linear-gradient(#f1f1f1e2, #d5d5d5, #cdcdcd, #b9b9b9, #b0b0b0, rgba(58, 58, 58, 0.54));
  border: 1px solid #00459a;
  box-shadow: 3px 2px 3px #00224b77;
}

@media (orientation: portrait) {
  .categories {
    margin-left: 1vh;
    margin-top: clamp(85px, 4vh, 150px);
    margin-bottom: 1vh;
  }

  .categories-component{
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .browse-button {
    size:'small';
  }

}