.cart-card {
  margin: 6vw auto;
  width: 50vw;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: repeat(3, 1/2fr);
  row-gap: none;
  padding-bottom: 2vw;
}

.order-data {
  margin-top: 1vh;
  margin-left: 2.6vw;
}

.delete-item {
  right: 2vw;
  top: -5px;
}

ul {
  align-items: center;
  height: 12vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #d1d1d1;
  border-radius: 3px;
  padding-left: 0.015vw;
  display: flex;
  flex-direction: column;
}

li {
  height: 4vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3vw;
  padding-top: 14px;
  background-color: #001667;
  color: #bedcff;
}

li:nth-child(2n+1) {
  background-color: #ebf4ff;
  color: #00459a;
}

body,
ul {
  margin: 0 auto;
}

.form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1vw;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 0 auto;
}


// Mobile
@media (orientation: portrait) {

  .cart-card {
    width: clamp(300px, 45vh, 400px);
    margin: 12vh auto;
    grid-template-columns: repeat(1, 1fr);
  }

  ul {
    width: fit-content;
  }
  
  li {
    height: 4vh;
    width: 35vh;
    padding-top: clamp(24px, 3vw, 600px);
    padding-bottom: clamp(16px, 1vw, 600px);
  }


  // Tablet
  @media (min-width:541px) and (max-width: 1079px) {

    .cart-card {
      width: clamp(600px, 65vw, 800px);
      grid-template-columns: repeat(1, 1fr);
      padding-right: clamp(10px, 2vw, 35px);
    }
  
    li {
      height: 4vh;
      width: 38vh;
      padding-top: clamp(10px, 4vw, 28px);
      padding-bottom: clamp(10px, 2vw, 15px);
    }  
  }

  @media (min-width: 1080px){
    .cart-card {
      height: clamp(800px, 65vh, 1000px);
      width: clamp(600px, 65vw, 800px);
      grid-template-columns: repeat(1, 1fr);
      padding-right: clamp(40px, 8vh, 70px);
    }
  }

}