@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$background: #f5f5f5;

header {
  background-color: #00459a;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 -5px 8px 8px rgba(0, 0, 0, 0.5);
  z-index: 4;
  height: clamp(70px, 3vw, 100px);
}


.header-buttons {
  display: flex;
  justify-content: space-between;
}

.our-store {
  text-decoration: none;
  text-transform: capitalize;
  color: #bedcff;
  font-family: 'Lobster', cursive;
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin: clamp(1px, 0.1vw, 4px) clamp(10px, 1vw, 150px);
}

.header-button2 {
  size: 4vw;
}

.cart-link {
  text-decoration: none;
  color: #bedcff;
  font-size: clamp(0.75rem, 1vw, 1rem);
  size: 0.1vh;
  margin: clamp(16px, 0.5vw, 150px) clamp(10px, 1vw, 150px);
}

@media (orientation: portrait) {

  .our-store {
    text-decoration: none;
    color: #bedcff;
    font-size: clamp(1.5rem, 2vh, 2rem);
    font-family: 'Lobster', cursive;
    margin: clamp(2px, 0.15vh, 4px) clamp(8px, 3vh, 150px);
  }

  .cart-link {
    text-decoration: none;
    color: #bedcff;
    font-size: clamp(0.75rem, 1vw, 1rem);
    size: 0.1vh;
    margin: clamp(16px, 0.5vh, 150px) clamp(15px, 3vh, 150px);
  }
}