$background: #f5f5f5;

header {
  background-color: #f5f5f5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 -5px 8px 8px rgba(0, 0, 0, 0.5);
  z-index: 4;
  height: 70px;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
}

.our-store {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: auto;
}

.header-button2 {
  size: 0.4vh;
}

.cart-link {
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
  size: 0.1vh;
  margin-top: 1vh;
  margin-right: 1vw;
}

@media (orientation: portrait) {

  .our-store {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1vw;
    margin-top: 0.5vh;
    margin-bottom: auto;
  }
  .cart-link {
    text-decoration: none;
    color: black;
    font-size: 0.75rem;
    size: 0.1vh;
    margin-top: 0.5vh;
    margin-right: 1vw;
  }
}
