.product-detail-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: clamp(20px, 10vw, 120px);
  font-size: clamp(2.5rem, 5vw, 4.4rem);
  color: #00459a;
}


.card {
  margin: 0 auto;
  padding-bottom: clamp(30px, 1vw, 40px);
}

.detail-image {
  height: clamp(300px, 55.25vw, 1500px);
}

.card-words {
  margin-top: clamp(10px, 1vw, 20px);
  display: flex;
  justify-content: space-between;
}

.card-stock {
  color: rgb(118, 118, 118);
}

.buy-button {
  width: 45vw;
  height: 4.5vw;
}

.related-items {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2.5rem, 4vw, 4.4rem);
  color: #00459a;
}

.suggestions {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  max-width: 45vw;
}

.suggestions-card {
  text-align: center;
  width: 17vw;
  padding: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.2em, 1.5vw, 2.25rem);
}

.product-details {
  color: #00459a;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2.5rem, 4vw, 4.4rem);
}

.accordion {
  width: 29.25vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.2em, 1.5vw, 2.25rem);
  margin-bottom: 18vh;
}

@media (orientation: portrait) {
  .title {
    font-size: 3rem;
    margin-top: 6vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
  }

  .card {
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
  }

  .card-words {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75vh;
  }

  .card-stock {
    color: rgb(118, 118, 118);
    font-size: 2rem;
  }

  .card-price {
    font-size: 2rem;
  }

  .buy-button {
    top: 1vh;
    font-size: 1.5rem;
    left: 30.25vw;
    width: 39.25vw;
    height: 2vh;
  }

  .related-items {
    padding-top: 4vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 1vh;
  }

  .suggestions {
    padding-top: 2vh;
    margin-left: 30.5vw;
    display: flex;
    font-size: large;
  }

  .suggestions-card {
    text-align: center;
    width: 10vw;
    padding: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
  }

  .product-details {
    padding-top: 4vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
  }

  .accordion {
    margin-top: 2vh;
    width: 39.5vw;
    margin-left: 30.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5rem;
  }
}