// Landscape Orientation

.product-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: clamp(20px, 10vw, 120px);
  font-size: clamp(2.5rem, 5vw, 4.4rem);
  color: #00459a;
}


.card {
  margin: 0 auto;
  width: 45vw;
  padding-bottom: clamp(10px, 0.25vw, 20px);
}

.detail-image {
  height: clamp(300px, 35.25vw, 1500px);
}

.card-words {
  margin-top: clamp(10px, 1vw, 20px);
  display: flex;
  justify-content: space-between;
}

.card-stock {
  color: rgb(118, 118, 118);
}

.buy-button {
  width: 45vw;
  height: 4.5vw;
}

.related-items {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2.5rem, 4vw, 4.4rem);
  color: #00459a;
}

.suggestions {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  max-width: 45vw;
}

.suggestions-card {
  text-align: center;
  width: 17vw;
  padding: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.2rem, 1.35vw, 2.25rem);
}

.product-details {
  color: #00459a;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2.5rem, 4vw, 4.4rem);
}

.accordion {
  width: 45vw;
  height: 4.5vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: clamp(420px, 25vw, 625px);
}

.accordion-text-1 {
  font-size: clamp(1.2rem, 1.35vw, 2.25rem);
}

.accordion-text-2 {
  font-size: clamp(1rem, 0.85vw, 2.25rem);
}


// Mobile layout
@media (orientation: portrait) {
  .title {
    font-size: clamp(1.75rem, 5vh, 4.4rem);
    margin-top: clamp(90px, 10vh, 220px);
  }

  .card {
    width: clamp(225px, 1.25vh, 1500px);
    height: clamp(227px, 1.5vh, 1000px);
    padding-bottom: clamp(100px, 15.75vw, 120px);
  }

  .detail-image {
    height: clamp(290px, 2vh, 1000px);
  }

  .card-words {
    margin-top: clamp(-10px, -1vh, 20px);
  }

  .card-stock {
    color: rgb(118, 118, 118);
    font-size: clamp(1em, 11.5vh, 4.4rem);
  }


  .buy-button {
    width: clamp(225px, 15.25vh, 1500px);
    height: 6vh;
  }

  .related-items {
    font-size: clamp(1.5rem, 4vh, 4.4rem);
  }

  .suggestions {
    gap: 1vh;
    max-width: clamp(325px, 15.25vh, 1500px);
  }

  .suggestions-card {
    padding: 1.5vh;
    width: 17vh;
    font-size: clamp(0.8rem, 1.35vh, 2.25rem);
  }

  .product-details {
    font-size: clamp(1.5rem, 4vh, 4.4rem);
  }

  .accordion {
    width: clamp(225px, 15.25vh, 1500px);
    margin-bottom: clamp(420px, 38vh, 525px);
  }

  .accordion-text-1 {
    font-size: clamp(1rem, 1.35vh, 2.25rem);
  }

  .accordion-text-2 {
    font-size: clamp(0.8rem, 0.85vw, 2.25rem);
  }

  // Tablet
  @media (min-width:500px) and (max-width:999px) {
    .card {
      width: clamp(425px, 28.25vw, 1500px);
      height: clamp(510px, 28.5vw, 1000px);
      padding-bottom: clamp(10px, 16vw, 16px);
    }

    .detail-image {
      height: clamp(490px, 28vw, 1000px);
    }

    .buy-button {
      width: clamp(425px, 28.25vh, 1500px);
      height: 4vh;
    }

    .suggestions {
      max-width: clamp(425px, 15.25vh, 1500px);
    }

    .accordion {
      width: clamp(425px, 15.25vh, 1500px);
      margin-bottom: clamp(420px, 38vh, 525px);
    }
  }

  @media (min-width: 1000px) and (max-width: 2000px) {

    .card {
      width: clamp(625px, 38.25vh, 1500px);
      height: clamp(710px, 38.5vh, 1000px);
      padding-bottom: clamp(10px, 16vw, 16px);
    }

    .detail-image {
      height: clamp(490px, 38vh, 1000px);
    }

    .buy-button {
      width: clamp(425px, 38.25vh, 1500px);
      height: 4vh;
    }

    .suggestions {
      max-width: clamp(425px, 38.25vh, 1500px);
    }

    .accordion {
      width: clamp(425px, 38.25vh, 1500px);
      margin-bottom: clamp(420px, 38vh, 525px);
    }

  }

}
